node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

lib
web/config.js
config/config.ts

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
